.textbox {
    width: 200px;
}
/* #navbar{
    background-color:rgb(240, 102, 102)
}
#nav{
    color: rgb(0,128,0);
    font-weight: bold;
    font-family: cursive;
    font-display:initial;
    font-size: 2rem;
    float:right;
}
.img-responsive {
    height: auto;
    width: auto;
    max-height: 400px;
    max-width:  400px;
} */


.card {
    border: 2px solid black;
    background-color:snow;
    margin: 10px;
    width: 18rem;
}

h1 {
    color: green;
    font-style: italic;
}

body {
    background-color: rgb(215, 221, 215)
}

h2 {
    color: red;
    font-family:cursive ;
}

.flex-container {
    display:inline-flex;
    padding: 10px;
    
}


