.textbox {
    width: 200px;
}

.card {
    border: 2px solid black;
    background-color:snow;
    margin: 10px;
    width: 18rem;
}

h1 {
    color: red;
    font-style: italic;
}

body {
    background-color: rgb(216, 200, 179);
}

h2 {
    color: red;
    font-family:cursive ;
}

.flex-container {
    display: flex;
    padding: 10px;
    
}


